@model int

@{ ViewBag.Title = "404 Error"; }

<link href="~/css/Error.css" rel="stylesheet" asp-append-version="true" />


<div class="container perfect-centering">
    <div class="row text-center">
        <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-12 p-3 error-main">
            <div class="row">
                <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
                    <h1 class="m-0">404</h1>
                    <h6>Opleiding niet gevonden</h6>
                    <p>Opleiding met ID = @Model kan niet gevonden worden</p>
                    <h6>

                        <a asp-action="Index" asp-controller="Opleiding" class="btn btn-success">Terug naar Overzicht</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>


@*Design from taken from = https://www.nicesnippets.com/snippet/bootstrap-4-page-not-found-404-error-page-design*@


